<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="autor" content="Yichun Bai">
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">        
        <title>Kat Planner</title>
    </head>

    <body>
        <header>
            <a href="/planner">Contact Us</a>
            <a href="/login">Sign In</a>
        </header>
        <div>
            <img src="/images/hpbg.svg" alt="Background Image" class="hpbg">
                
            <div id="title">
                <div id="welcome">Welcome to</div>
                <div id="productName">Kat Planner</div>
            </div>
        </div>
    </body>
</html>